## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
#from config import g_key

# Configure gmaps API key
g_key = "AIzaSyDS4ORioT57N7OIJdvfyQIZCisN50FQd_w"
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mareeba,AU,-17.0000,145.4333,72.45,64,0,3.06,clear sky
1,1,Carnarvon,AU,-24.8667,113.6333,69.58,22,0,9.75,clear sky
2,2,Avarua,CK,-21.2078,-159.7750,75.25,57,20,6.91,few clouds
3,3,Lodwar,KE,3.1191,35.5973,76.93,57,99,11.10,light rain
4,4,Sabang,ID,5.8933,95.3214,83.16,74,96,11.25,overcast clouds

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= 98) & \
                                        (city_data_df["Max Temp"] >= 70)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mareeba,AU,-17.0000,145.4333,72.45,64,0,3.06,clear sky
2,2,Avarua,CK,-21.2078,-159.7750,75.25,57,20,6.91,few clouds
3,3,Lodwar,KE,3.1191,35.5973,76.93,57,99,11.10,light rain
4,4,Sabang,ID,5.8933,95.3214,83.16,74,96,11.25,overcast clouds
10,10,Minab,IR,27.1467,57.0801,89.92,62,100,0.00,haze
11,11,Bandarbeyla,SO,9.4942,50.8122,78.84,62,39,32.82,scattered clouds
12,12,Lamar,US,33.6668,-95.5836,89.58,45,0,6.91,clear sky
17,17,Surt,LY,31.2089,16.5887,79.14,83,0,5.84,clear sky
18,18,Georgetown,MY,5.4112,100.3354,87.73,75,20,5.75,few clouds
22,22,Rikitea,PF,-23.1203,-134.9692,74.46,75,45,16.82,scattered clouds

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 126
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              44 non-null     int64
 1   City                 44 non-null     object
 2   Country              44 non-null     object
 3   Lat                  44 non-null     float64
 4   Lng                  44 non-null     float64
 5   Max Temp             44 non-null     float64
 6   Humidity             44 non-null     int64
 7   Cloudiness           44 non-null     int64
 8   Wind Speed           44 non-null     float64
 9   Current Description  44 non-null     object
dtypes: float64(4), int64(3), object(3)
memory usage: 3.8+ KB

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44 entries, 0 to 126
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              44 non-null     int64
 1   City                 44 non-null     object
 2   Country              44 non-null     object
 3   Lat                  44 non-null     float64
 4   Lng                  44 non-null     float64
 5   Max Temp             44 non-null     float64
 6   Humidity             44 non-null     int64
 7   Cloudiness           44 non-null     int64
 8   Wind Speed           44 non-null     float64
 9   Current Description  44 non-null     object
dtypes: float64(4), int64(3), object(3)
memory usage: 3.8+ KB

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mareeba,AU,72.45,clear sky,-17.0000,145.4333,
2,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,
3,Lodwar,KE,76.93,light rain,3.1191,35.5973,
4,Sabang,ID,83.16,overcast clouds,5.8933,95.3214,
10,Minab,IR,89.92,haze,27.1467,57.0801,
11,Bandarbeyla,SO,78.84,scattered clouds,9.4942,50.8122,
12,Lamar,US,89.58,clear sky,33.6668,-95.5836,
17,Surt,LY,79.14,clear sky,31.2089,16.5887,
18,Georgetown,MY,87.73,few clouds,5.4112,100.3354,
22,Rikitea,PF,74.46,scattered clouds,-23.1203,-134.9692,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Mareeba,AU,72.45,clear sky,-17.0000,145.4333,Trinity Plains Tourist Park
2,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
3,Lodwar,KE,76.93,light rain,3.1191,35.5973,Solmar Gracious Hotel
4,Sabang,ID,83.16,overcast clouds,5.8933,95.3214,Hotel Citra
10,Minab,IR,89.92,haze,27.1467,57.0801,Bam campground

In [15]:
# 8a. Create the output File (CSV)
output_data_file = "clean_hotel_df.csv" 
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
 <dl>
 <dt>Hotel Name</dt><dd>{Hotel Name}</dd>
 <dt>City</dt><dd>{City}</dd>
 <dt>Country</dt><dd>{Country}</dd>
 <dt>Max Temp</dt><dd>{Max Temp} °F</dd>
 </dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))